.center{
    font-size: large;
    text-align: center;
    background-color: black;
    width: 50%;
    height: 590px;
    margin-left: 25%;
    margin-top: 100px;
}

.format{
    margin: 45px;
    color: white;
}

input {
    padding: 10px;
    border: 2px solid darkcyan;
    border-radius: 300px;
    color: black;
    font-size: 12px;
    border-width: 2px;
    border-bottom-width: 3px;
}

.size label {
    display: inline-block;
    text-align: left;
  }
  
.size input[type="text"],
.size input[type="number"] {
    width: 300px; 
}


button{
    color: black;
    background: white;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border-color: white;
    font-size: 20px;
    box-shadow: 2px 5px 10px white;
}

